<template>
    <div id="content" class="posts">
        <div class="post" v-for="(post, index) in posts">
            <span>{{ post.id }}</span>
            <h3>{{ post.title }}</h3>
            <p>{{ post.body }}</p>
            <router-link :to="{ name: 'post', params: { id: index } }" >more</router-link>
        </div>
        <p>hello</p>
    </div>
</template>

<script>
export default {
  name: 'content',
  data () {
      return {
        endpoint: 'https://jsonplaceholder.typicode.com/posts',
        posts: []    
      }
  },
  methods: {
      getAllPosts: function() {
          this.$http.get(this.endpoint).then(response => {
            this.posts = response.body;
          }, response => {
            //   error
          })
      }
  },
  created: function() {
    this.getAllPosts()
  }
}
</script>
<style lang="scss">
    .posts {
        width: calc(100% - 40px);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .post {
            width: calc(33.3333% - 20px);
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 0.5px;
            padding: 15px;
            position: relative;
            margin-bottom: 30px;

            span {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                color: rgba(0, 0, 0, 0.2);
                font-size: 48px;
                font-weight: bold;
            }
            p {
                display: block;
                margin-top: 20px;
            }
        }
    }

</style>
